.local-grey {
    background-color: #9a9cacff;
}


iframe {
    body {
        overflow: clip;
    }
}


html {
    scroll-padding-top: 55px;
}

@media (hover: hover) {
    .w3-button:hover {
        background-color: #ffff00 !important;
    }
}

@media (hover: none) {
    .w3-button:hover {
        background-color: #9a9cacff !important;
    }
    .w3-button.pic-button {
        background-color: #ffff00 !important;

    }
}

.breaks-on-dark {
    color-scheme: only light;
}